@media only screen and (min-width: 720px) {
  .Carousel-indicators-29 {
    display: none;
  }
}
@media only screen and (max-width: 720px) {
  .Carousel-buttonWrapper-33.Carousel-next-39 {
    display: none;
  }
  .Carousel-buttonWrapper-33.Carousel-prev-40 {
    display: none;
  }
}
