@media only screen and (min-width: 720px) {
  .Carousel-indicators-21 {
    display: none;
  }
}
@media only screen and (max-width: 720px) {
  .Carousel-buttonWrapper-25.Carousel-next-31 {
    display: none;
  }
  .Carousel-buttonWrapper-25.Carousel-prev-32 {
    display: none;
  }
}
