@media only screen and (min-width: 720px) {
  .Carousel-indicators-22 {
    display: none;
  }
}
@media only screen and (max-width: 720px) {
  .Carousel-buttonWrapper-26.Carousel-next-32 {
    display: none;
  }
  .Carousel-buttonWrapper-26.Carousel-prev-33 {
    display: none;
  }
}
