@media only screen and (min-width: 720px) {
  .Carousel-indicators-18 {
    display: none;
  }
}
@media only screen and (max-width: 720px) {
  .Carousel-buttonWrapper-22.Carousel-next-28 {
    display: none;
  }
  .Carousel-buttonWrapper-22.Carousel-prev-29 {
    display: none;
  }
}
